<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="item-wrapper">
  <!-- loop through all items -->
  <% @items.each do |item| %>
    <div class="item-container">  
        <div class="image">
         <%= link_to (image_tag item.image_url, :style => "height:75px"), item %>
        </div>
        <div class="title">
          <%= link_to item.title, item %>
        </div>
        <div class="price">
          <%= number_to_currency(item.price, :unit => "&euro; ".html_safe) %>
        </div>
	<% if current_user.try(:admin?) %>
        <div class="buttons">
          <button class="btn btn-primary"><%= link_to 'Edit', edit_item_path(item), :style => "color:white" %></button>
          <button class="btn btn-danger"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:white" %></button>
        </div>
	<% end %>
    </div>    
  <% end %>

</div>

<br>
<% if session[:login] == 1 %>
<%= link_to 'New Item', new_item_path %>
ยง
<% end %>
