<p id="notice"><%= notice %></p>
  
<h1 class="centered" >Our catalogue</h1>

<!-- SEARCH FORM -->
<div id="search-bar">
<%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
<% end %>
</div>

<hr/>
<div id="buttons-cart-profile">
  <div id="cart-count" class=" btn btn-info">Number of items in cart: <%= @cart.count %></div>
  <% if current_user != nil %>
  <button class="btn btn-success"><a href="/profiles/<%= @user %>">Go to your profile</a></button>
  <% end %>
</div>
<hr/>
<div id="item-wrapper">
  <!-- loop through all items -->
  <% @items.each do |item| %>
    <div class="item-container ">  
        <div class="image">
         <%= link_to (image_tag item.image_url, :style => "height:125px"), item %>
        </div>
        <div class="title">
          <%= link_to item.title, item %>
        </div>
        <div class="price">
          <%= number_to_currency(item.price, :unit => "&euro; ".html_safe) %>
        </div>
        <div class="buttons">
		
	      <% if current_user != nil %>
      
          <% if current_user.try(:admin?) %>
        
            <button class="btn btn-primary"><%= link_to 'Edit', edit_item_path(item), :style => "color:white" %></button>
          
            <button class="btn btn-danger"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:white" %></button>
          
          <% else %>

            <button class="btn btn-success"><a href="/cart/<%= item.id %>">Add</a></button>
	    
          <% end %>
    
        <% else %>
        
          <button class="btn btn-primary log-in-button"> <%= link_to "Sign in", new_session_path(:user) %></button>
    
        <% end %>
    
    </div>
    </div>    
  <% end %>
  
</div>

<br>
<% if current_user.try(:admin?) %>
<%= link_to 'New Item', new_item_path %>
ยง
<% end %>
