<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="item-wrapper">
  <!-- loop through all items -->
  <% @items.each do |item| %>
    <div class="item-container">  
        <div class="image">
         <%= link_to (image_tag item.image_url, :style => "height:75px"), item %>
        </div>
        <div class="title">
          <%= link_to item.title, item %>
        </div>
        <div class="price">
          <%= number_to_currency(item.price, :unit => "&euro; ".html_safe) %>
        </div>
        <div class="buttons">
		
	<% if current_user != nil %>
		  <% if current_user.try(:admin?) %>
	          <button class="btn btn-primary"><%= link_to 'Edit', edit_item_path(item), :style => "color:white" %></button>
		  <button class="btn btn-danger"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:white" %></button>
		  <% else %>
		  <button class="add-to-cart btn btn-primary">Add to cart</button>
		  <% end %>
	<% else %>
	  <button class="log-in"> <%= link_to "Sign in", new_session_path(:user) %></button>
        <% end %>
        </div>
    </div>    
  <% end %>

</div>

<br>
<% if current_user.try(:admin?) %>
<%= link_to 'New Item', new_item_path %>
ยง
<% end %>
