<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="item-wrapper">

  <% @items.each do |item| %>
    <div class="item-container">  
        <div class="image">
         <%= link_to (image_tag item.image_url, :style => "height:75px"), item %>
        </div>
        <div class="title">
          <%= link_to item.title, item %>
        </div>
        <div class="price">
          Price: 
          <%= link_to item.price, item %>
        </div>
        <div class="buttons">
          <button class="btn btn-info"><%= link_to 'Show', item, :style => "color:white" %></button>
          <button class="btn btn-primary"><%= link_to 'Edit', edit_item_path(item), :style => "color:white" %></button>
          <button class="btn btn-danger"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:white" %></button>
        </div>
    </div>    
  <% end %>

</div>

<br>

<%= link_to 'New Item', new_item_path %>
ยง