<p id="notice"><%= notice %></p>
<div class="login-form">
  <div id="item-display">
    <div id="item-image">
    <%= image_tag  @item.image_url, :style => "height:325px" %>
  </div>
<div id="item-title">
<strong>  <%= @item.title %></strong>
</div>

<div id="item-description">
  <%= @item.description %>
</div>

<div id="item-price">
  <%= number_to_currency(@item.price, :unit => "&euro; ".html_safe) %>
</div>

<!-- check if user is an admin and display 'edit' button only if evaluates to 'true' -->
<% if current_user.try(:admin?) %>  
	  <%= link_to '<button class="btn btn-primary">Edit</button>'.html_safe, edit_item_path(@item) %> |
	  <%= link_to '<button class="btn btn-success">Back</button>'.html_safe, items_path %>
<% else %>
          <%= link_to '<button class="btn btn-success">Back</button>'.html_safe, items_path %>
<% end %>
</div>
</div>
